In [13]:
BITRATE_REWARD_MAP_2 = {(0,0),(300,1),(750,20), (1200,15),(1850,12),(2850,3),(4300,2)}

In [14]:
import pandas as pd
df=pd.DataFrame(BITRATE_REWARD_MAP_2)

In [16]:
df.head()

      0   1
0     0   0
1  2850   3
2  4300   2
3  1850  12
4  1200  15